<html>
<head>
    <!-- Aca muestra el titulo de la pestaña-->
    <title>Tarea de Sophia Mendez- semana 10</title>
    <!-- Aca basicamente estoy dando los colores para cada titulo-->
    <style> 
        h1 {
            color: rgb(101, 101, 224);
        }
        h2 {
            color: rgb(66, 213, 191);
        }
        div {
            color: pink;
        }
    </style>
</head>
<!-- En esta parte estoy escribiendo los titulos
h1 es el mas grande y h6 es mas pequeño-->
<body>
    <h1>Hola estoy usando html y soy morado</h1>
    <h2>Sigo usando html, ahora soy color turquesa</h2>
    <div>Ahora me pase al "DIV" y cambie a color rosa</div>
</body>
</html>